#Maven
**/target
dependency-reduced-pom.xml

#IntelliJ
.idea
*.iml
crazycrates/META-INF/

#Eclipse
**.settings
**.classpath
**.project

\.DS_Store

# Gradle
api/build
gradlew.bat
plugin/build

plugin/src/main/java/com/badbones69/crazycrates/func/v2/data
build
buildSrc

.gradle