#Maven
**/target
dependency-reduced-pom.xml

#IntelliJ
.idea
*.iml
crazycrates/META-INF/

#Eclipse
**.settings
**.classpath
**.project

\.DS_Store

src/main/lib/

api/build
gradlew
gradlew.bat
modern/build
gradle
plugin/build
.gradle