# Support: https://discord.gg/badbones-s-live-chat-182615261403283459
# Github: https://github.com/Crazy-Crew
#
# Issues: https://github.com/Crazy-Crew/CrazyCrates/issues
# Features: https://github.com/Crazy-Crew/CrazyCrates/issues
#
# List of all sounds: https://minecraft.wiki/w/Sounds.json#Java_Edition_values
root:
  # This option will let you test a different way of picking random numbers. If you have any issues, You can set it back to false.
  #
  # If the option is set to false, items should be more random in theory.
  use-different-random: false
  # This option defines what in-game editor format is used in CrazyCrates.
  #
  # true -> uses the new editor
  # false -> uses the old editor
  #
  use-new-editor: false
  # A recent change to permissions related to opening crates was made
  # The way I assumed wildcard permissions worked isn't how they worked
  # The superperms system for wildcards is stupid... but I digress
  #
  # It feels right to make a toggle for it regardless.
  #
  # false -> crazycrates.open.<crate-name>
  # true -> crazycrates.deny.open.<crate_name>
  #
  # Eventually, one of these options will be either removed or kept.
  # Changing this option requires you to restart your server!
  use-new-permission-system: false
  # This option will tell the plugin to send all messages as action bars or messages in chat.
  #
  # send_message -> sends messages in chat.
  # send_actionbar -> sends messages in actionbar.
  #
  message-state: "send_message"
  # A list of available hologram plugins:
  #  -> DecentHolograms
  #  -> FancyHolograms
  #  -> CMI
  #  -> None
  #
  # If the option is set to blank, it'll pick whatever plugin it feels like picking.
  # Set the value to None if you do not want any.
  hologram-plugin: ""
  # This will wipe the example folder on /crazycrates reload or plugin startup. so you always have fresh examples to look at.
  update-examples-folder: true
  # The prefix used in commands
  command_prefix: "<dark_gray>[<blue>CrazyCrates<dark_gray>]: "
# Settings related to guis.
gui:
  # If /crates should open the main menu. Warning: This will remove the menu button from crate previews.
  toggle: true
  # Inventory settings like size.
  inventory:
    # The name of the gui.
    name: "<bold><blue>Crazy <dark_red>Crates</bold>"
    # The amount of rows for a gui.
    rows: 5
    # The buttons in the gui.
    buttons:
      # The main menu button.
      menu:
        # The item the button should be.
        item: "compass"
        override:
          # This will disable our current functionality of our main menu button in crate previews.
          # It allows you to override and use a menu of your choice from your plugin using a command.
          toggle: false
          # A list of commands to run when the main menu button is clicked. The override option above has to be set to true.
          list:
            - "see {player}"
        # The custom model data for the item, -1 is disabled.
        custom-model-data: -1
        # The item model, Mojang introduced this in 1.21.4... this replaces custom model data!
        # Set this to blank for it to do nothing.
        model:
          # The namespace i.e. nexo
          namespace: ""
          # The id i.e. emerald_helmet
          id: ""
        # The name of the item.
        name: "<bold><gray>» <red>Menu <gray>«</bold>"
        # The lore of the item.
        lore:
          - "<gray>Return to the menu."
      # The next button.
      next:
        # The item the button should be.
        item: "feather"
        # The custom model data for the item, -1 is disabled.
        custom-model-data: -1
        # The item model, Mojang introduced this in 1.21.4... this replaces custom model data!
        # Set this to blank for it to do nothing.
        model:
          # The namespace i.e. nexo
          namespace: ""
          # The id i.e. emerald_helmet
          id: ""
        # The name of the item.
        name: "<bold><gold>Next »</bold>"
        # The lore of the item.
        lore:
          - "<bold><gray>Page:</bold> <blue>{page}"
      # The back button.
      back:
        # The item the button should be.
        item: "feather"
        # The custom model data for the item, -1 is disabled.
        custom-model-data: -1
        # The item model, Mojang introduced this in 1.21.4... this replaces custom model data!
        # Set this to blank for it to do nothing.
        model:
          # The namespace i.e. nexo
          namespace: ""
          # The id i.e. emerald_helmet
          id: ""
        # The name of the item.
        name: "<bold><gold>« Back</bold>"
        # The lore of the item.
        lore:
          - "<bold><gray>Page:</bold> <blue>{page}"
      filler:
        # Should the menu should be filled with one type of item?
        toggle: false
        # The item to fill the menu with.
        item: "black_stained_glass_pane"
        # The custom model data for the item, -1 is disabled.
        custom-model-data: -1
        # The item model, Mojang introduced this in 1.21.4... this replaces custom model data!
        # Set this to blank for it to do nothing.
        model:
          # The namespace i.e. nexo
          namespace: ""
          # The id i.e. emerald_helmet
          id: ""
        # The name of the item.
        name: " "
        # The lore of the item.
        lore: []
      customizer:
        # Should the customizer should be enabled?
        toggle: true
        # The items to set to the gui.
        items:
          - "slot:0, item:red_stained_glass_pane, name: "
          - "slot:1, item:red_stained_glass_pane, name: "
          - "slot:2, item:red_stained_glass_pane, name: "
          - "slot:3, item:red_stained_glass_pane, name: "
          - "slot:4, item:red_stained_glass_pane, name: "
          - "slot:5, item:red_stained_glass_pane, name: "
          - "slot:6, item:red_stained_glass_pane, name: "
          - "slot:7, item:red_stained_glass_pane, name: "
          - "slot:8, item:red_stained_glass_pane, name: "
          - "slot:36, item:red_stained_glass_pane, name: "
          - "slot:37, item:red_stained_glass_pane, name: "
          - "slot:38, item:red_stained_glass_pane, name: "
          - "slot:39, item:red_stained_glass_pane, name: "
          - "slot:40, item:red_stained_glass_pane, name: "
          - "slot:41, item:red_stained_glass_pane, name: "
          - "slot:42, item:red_stained_glass_pane, name: "
          - "slot:43, item:red_stained_glass_pane, name: "
          - "slot:44, item:red_stained_glass_pane, name: "
          - "slot:9, item:blue_stained_glass_pane, name: "
          - "slot:18, item:blue_stained_glass_pane, name: "
          - "slot:27, item:blue_stained_glass_pane, name: "
          - "slot:17, item:blue_stained_glass_pane, name: "
          - "slot:26, item:blue_stained_glass_pane, name: "
          - "slot:35, item:blue_stained_glass_pane, name: "
          - "slot:10, item:cyan_stained_glass_pane, name: "
          - "slot:12, item:cyan_stained_glass_pane, name: "
          - "slot:14, item:cyan_stained_glass_pane, name: "
          - "slot:24, item:cyan_stained_glass_pane, name: "
          - "slot:16, item:cyan_stained_glass_pane, name: "
          - "slot:19, item:cyan_stained_glass_pane, name: "
          - "slot:20, item:cyan_stained_glass_pane, name: "
          - "slot:21, item:cyan_stained_glass_pane, name: "
          - "slot:22, item:cyan_stained_glass_pane, name: "
          - "slot:23, item:cyan_stained_glass_pane, name: "
          - "slot:24, item:cyan_stained_glass_pane, name: "
          - "slot:25, item:cyan_stained_glass_pane, name: "
          - "slot:28, item:cyan_stained_glass_pane, name: "
          - "slot:30, item:cyan_stained_glass_pane, name: "
          - "slot:31, item:cyan_stained_glass_pane, name: "
          - "slot:32, item:cyan_stained_glass_pane, name: "
          - "slot:33, item:cyan_stained_glass_pane, name: "
          - "slot:34, item:cyan_stained_glass_pane, name: "
# Settings related to crates.
crate:
  interaction:
    # This will switch how previews/opening the physical crates are handled.
    #
    #  true -> Right click to open, Left click to preview
    #  false -> Left click to open, Right click to preview
    physical: true
    # This will switch how previews/opening the virtual crates are handled.
    #
    #  true -> Right click to open, Left click to preview
    #  false -> Left click to open, Right click to preview
    virtual: false
  # Whether to show the display item when opening QuickCrate
  quickcrate-display-item: true
  # If crates should knock you back if you have no keys.
  knock-back: true
  # The preview settings.
  preview:
    # If players should be forced to exit out of the preview during /crates reload
    force-exit: false
    # Send a message if they were forced out of the preview.
    send-message: false
  # If a player gets to the menu related to the Prizes gui, Should they be timed out?
  #
  # It will wait 10 seconds and if they already collected 3 prizes, It will only give one prize.
  cosmic-crate-timeout: true
  # Settings related to how keys function.
  keys:
    # Should a physical crate accept virtual keys?
    physical-crate-accepts-virtual-keys: true
    # Should a physical crate accept physical keys?
    physical-crate-accepts-physical-keys: true
    # Should a virtual crate accept physical keys?
    virtual-crate-accepts-physical-keys: true
    # Settings related to a player's inventory is not empty.
    inventory-settings:
      # Should the player should be given virtual keys if inventory is not empty? If you leave it as false, All keys will be dropped on the ground.
      give-virtual-keys: false
      # Should the player should be notified when their inventory is not empty?
      send-message: false
    key-sound:
      # Should a sound should be played if they have no key?
      toggle: true
      # The type of sound to use.
      # https://minecraft.wiki/w/Sounds.json#Java_Edition_values
      name: "entity.villager.no"
  # Settings related to QuadCrate
  quad-crate:
    # How long should the quad crate be active?
    timer: 300
  # What worlds do you want Crates to be disabled in?
  disabled-worlds:
    - "world_nether"
  # This option if set to true will force the crate to take the required keys set in the crate file
  use-required-keys: false
  # This section contains settings related to different crate types.
  types:
    # This section is related to settings with the csgo crate type.
    csgo:
      # Sets a static material in the csgo crate in slot 4 and 22
      # This is above and below the prize.
      #
      # Set this to blank to have it populate with glass.
      cycling-material: "gold_ingot"
      # Sets a static material in the csgo crate in slot 4 and 22
      # This is above and below the prize and only shows up when the crate ends.
      #
      # Set this to blank to have it populate with glass.
      finished-material: "iron_ingot"
  # Logs all crate actions to console if enabled.
  log-to-console: false
  # Logs all crate/key actions to individual files, on plugin reload and shutdown. the files will zip to avoid size errors.
  log-to-file: false